In [29]:
import pandas as pd
import datetime

In [33]:
tp = pd.read_excel('./KODEX_KTOP_30_20220720.xls',header=3)[14:34]
tp.head()

,Unnamed: 0,종가,증감,증감율,거래량,기준가격,증감.1,증감율.1,Unnamed: 8
14,20220630,16075,-320,-0.019518,274,16073.23,-305.04,-0.018625,11947.27
15,20220629,16395,-85,-0.005158,121,16378.27,-321.09,-0.019228,11947.38
16,20220628,16480,-15,-0.000909,44,16699.36,213.33,0.012940,11895.87
17,20220627,16495,280,0.017268,245,16486.03,206.27,0.012670,11895.99
18,20220624,16215,225,0.014071,151,16279.76,344.91,0.021645,11896.11

In [34]:
tp.rename(columns={tp.columns[0]: '날짜'}, inplace=True)
tp.head()

,날짜,종가,증감,증감율,거래량,기준가격,증감.1,증감율.1,Unnamed: 8
14,20220630,16075,-320,-0.019518,274,16073.23,-305.04,-0.018625,11947.27
15,20220629,16395,-85,-0.005158,121,16378.27,-321.09,-0.019228,11947.38
16,20220628,16480,-15,-0.000909,44,16699.36,213.33,0.012940,11895.87
17,20220627,16495,280,0.017268,245,16486.03,206.27,0.012670,11895.99
18,20220624,16215,225,0.014071,151,16279.76,344.91,0.021645,11896.11

In [58]:
tp['날짜'] = tp['날짜'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d'))

In [59]:
tp.head()

,날짜,종가,증감,증감율,거래량,기준가격,증감.1,증감율.1,Unnamed: 8
14,2022-06-30,16075,-320,-0.019518,274,16073.23,-305.04,-0.018625,11947.27
15,2022-06-29,16395,-85,-0.005158,121,16378.27,-321.09,-0.019228,11947.38
16,2022-06-28,16480,-15,-0.000909,44,16699.36,213.33,0.012940,11895.87
17,2022-06-27,16495,280,0.017268,245,16486.03,206.27,0.012670,11895.99
18,2022-06-24,16215,225,0.014071,151,16279.76,344.91,0.021645,11896.11

In [60]:
tp = tp.iloc[:, :6]
tp.head()

           날짜     종가   증감       증감율  거래량      기준가격
14 2022-06-30  16075 -320 -0.019518  274  16073.23
15 2022-06-29  16395  -85 -0.005158  121  16378.27
16 2022-06-28  16480  -15 -0.000909   44  16699.36
17 2022-06-27  16495  280  0.017268  245  16486.03
18 2022-06-24  16215  225  0.014071  151  16279.76

In [61]:
tp.to_csv('./KTOP30_price.csv', encoding='utf-8-sig', index=False)