In [94]:
import pandas as pd
tp = pd.read_excel('./KODEX_KTOP_30_20220720.xls',header=3)[14:34].reset_index().drop('index',axis=1).reset_index()
tp.to_csv('./KTOP30_price.csv')

In [40]:
df = pd.read_csv('./data_20200601_20220630.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      516 non-null    object
 1   거래회전율   516 non-null    float64
 2   환율      516 non-null    float64
dtypes: float64(2), object(1)
memory usage: 12.2+ KB

In [39]:
df

             날짜     거래회전율        환율
0    2020-06-01  0.381022  0.437333
1    2020-06-02  0.410100  0.453667
2    2020-06-03  0.746989  0.459833
3    2020-06-04  0.658981  0.471833
4    2020-06-05  0.460427  0.471000
..          ...       ...       ...
511  2022-06-24  0.288971  0.332167
512  2022-06-27  0.226428  0.334333
513  2022-06-28  0.139195  0.357333
514  2022-06-29  0.215933  0.358500
515  2022-06-30  0.282519  0.345167

[516 rows x 3 columns]

In [95]:
tp = tp.loc[:,['Unnamed: 0','Unnamed: 8']]
tp.columns = ['날짜','가격']

In [96]:
sample = [str(i) for i in tp['날짜']]
tp['날짜'] = sample
flag = tp

In [97]:
target = [tar[:4] + '-' + tar[4:6] + '-' + tar[6:] for tar in tp['날짜']]
flag['날짜'] = target
flag

            날짜        가격
0   2022-06-30  11947.27
1   2022-06-29  11947.38
2   2022-06-28  11895.87
3   2022-06-27  11895.99
4   2022-06-24  11896.11
5   2022-06-23  11896.46
6   2022-06-22  11896.58
7   2022-06-21  11896.69
8   2022-06-20  11896.81
9   2022-06-17  11896.93
10  2022-06-16  11897.29
11  2022-06-15  11897.41
12  2022-06-14  11897.53
13  2022-06-13  11897.65
14  2022-06-10  11897.77
15  2022-06-09  11898.15
16  2022-06-08  11898.28
17  2022-06-07  11898.41
18  2022-06-03  11898.54
19  2022-06-02  11899.06

In [115]:
df = df.iloc[-20:,:]
df.reset_index(inplace=True)
df['가격'] = flag['가격']

In [117]:
df = df.drop('level_0',axis=1)
df = df.drop('index',axis=1)

In [118]:
df

            날짜     거래회전율        환율        가격
0   2022-06-02  0.199243  0.436000  11947.27
1   2022-06-03  0.000000  0.414667  11947.38
2   2022-06-07  0.235203  0.431500  11895.87
3   2022-06-08  0.103493  0.404833  11895.99
4   2022-06-09  0.343772  0.407667  11896.11
5   2022-06-10  0.256366  0.404000  11896.46
6   2022-06-13  0.314264  0.390000  11896.58
7   2022-06-14  0.330437  0.356667  11896.69
8   2022-06-15  0.334566  0.350500  11896.81
9   2022-06-16  0.299467  0.347833  11896.93
10  2022-06-17  0.414573  0.359833  11897.29
11  2022-06-20  0.364504  0.354167  11897.41
12  2022-06-21  0.261184  0.347167  11897.53
13  2022-06-22  0.315296  0.349000  11897.65
14  2022-06-23  0.385323  0.340500  11897.77
15  2022-06-24  0.288971  0.332167  11898.15
16  2022-06-27  0.226428  0.334333  11898.28
17  2022-06-28  0.139195  0.357333  11898.41
18  2022-06-29  0.215933  0.358500  11898.54
19  2022-06-30  0.282519  0.345167  11899.06